<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space | Imports</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
    <script src="https://unpkg.com/split.js/dist/split.min.js"></script>
    <script src="/scripts/theme.js"></script>
</head>
<body style="min-height: calc(100vh - 100px)">
<!--/*@thymesVar id="user" type="de.axl.db.ExposedUser"*/-->
<div th:replace="~{ navbar :: navbar (imports, ${user})}"></div>
<main class="d-flex flex-nowrap" style="height: calc(100vh - 100px); max-height: calc(100vh - 100px); overflow-y: hidden">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0" style="width: 300px;">
        <button type="button" class="btn btn-primary border-bottom" data-bs-toggle="modal" data-bs-target="#uploadModal"><i class="bi bi-upload"></i>
            Upload PDFs
        </button>
        <div id="sidebar" class="list-group list-group-flush border-bottom scrollarea" style="overflow-y: auto"></div>
    </div>
    <div id="importDocArea" class="container-fluid d-flex p-0 d-none">
        <div id="importDocImageArea" class="split overflow-y-scroll">
            <img id="pageImage" src="" class="img-fluid" alt="page image">
        </div>
        <div id="importDocDataArea" class="split d-flex flex-md-column px-3 overflow-y-scroll">
            <h4 class="my-3" id="importGuid">GUID</h4>
            <div class="mb-3">
                <label for="importDate" class="form-label">Document Date</label>
                <input type="text" class="form-control" id="importDate"/>
            </div>
            <div class="mb-3">
                <label for="languageSelect" class="form-label">Language</label>
                <select id="languageSelect" class="form-select">
                    <option value="DEU">German</option>
                    <option value="ENG">English</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="importText" class="form-label">Text</label>
                <textarea class="form-control" id="importText" rows="20"></textarea>
            </div>

            <button type="button" class="btn btn-secondary mb-2 mt-auto" data-bs-toggle="modal" data-bs-target="#imageModal"><i class="bi bi-image"></i>
                &nbsp;Image Editor
            </button>
            <button type="button" class="btn btn-primary w-100 mb-2"><i class="bi bi-save"></i>&nbsp;Import</button>
            <button type="button" class="btn btn-danger w-100 mb-2"><i class="bi bi-trash"></i>&nbsp;Delete</button>
        </div>
    </div>
    <div id="importNoDocSelected" class="d-flex container-fluid h-100 p-5 align-items-center justify-content-center">
        <h3>Nothing selected.</h3>
    </div>
</main>
<footer class="footer mt-auto py-2 bg-body-tertiary">
    <div class="container-fluid d-flex align-items-center" style="font-size: 1.1rem;">
        <i id="statusIconPause" class="bi bi-pause-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Paused"></i>
        <i id="statusIconPlay" class="bi bi-play-circle d-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Importing"></i>
        <span class="text-body-secondary">|</span>
        <i id="statusIconFile" class="bi bi-file-earmark-text d-none"></i>
        <span id="statusFilecount" class="text-body-secondary"></span>
        <span id="statusFilecountSpacer" class="text-body-secondary d-none">|</span>
        <div id="statusProgress" class="progress mx-2 d-none" role="progressbar" style="min-width: 20em">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0">0%</div>
        </div>
        <span id="statusProgressSpacer" class="text-body-secondary d-none">|</span>
        <span id="statusGuid" class="text-body-secondary" data-bs-toggle="tooltip" data-bs-placement="top"></span>
        <span id="statusGuidSpacer" class="text-body-secondary d-none">|</span>
        <span id="statusMessage" class="text-body-secondary"></span>
    </div>
</footer>

<!-- Upload Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="uploadModalLabel">Upload Files</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="uploadForm" enctype="multipart/form-data">
                    <label for="formFileMultiple" class="form-label">Select files to upload</label>
                    <input class="form-control form-control-lg" type="file" id="formFileMultiple" multiple accept="application/pdf"/>
                </form>
                <ul class="list-group list-group-flush" id="fileList"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="uploadButton" type="button" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>
</div>

<!-- Image Edit Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="imageModalLabel">Image Editor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid d-flex">
                    <div class="row w-100">
                        <div class="col">
                            <div style="height: 100px">
                                <span class="form-label">Original:</span>
                            </div>
                            <img id="editImageOriginal" src="" class="img-fluid" alt="original">
                        </div>
                        <div class="col">
                            <div style="height: 100px">
                                <label for="sliderDeskew" class="form-label">Deskew: <span id="sliderDeskewValue">40</span></label>
                                <input type="range" class="form-range" id="sliderDeskew" min="0" max="100" step="1" value="40"
                                       oninput="document.getElementById('sliderDeskewValue').innerText = this.value">
                            </div>
                            <img id="editImageDeskewed" src="" class="img-fluid" alt="deskewed">
                        </div>
                        <div class="col">
                            <div style="height: 100px">
                                <label for="sliderColorFuzz" class="form-label">Color: <span id="sliderColorFuzzValue">10</span></label>
                                <input type="range" class="form-range" id="sliderColorFuzz" min="0" max="100" step="1" value="10"
                                       oninput="document.getElementById('sliderColorFuzzValue').innerText = this.value">
                            </div>
                            <img id="editImageColorAdjusted" src="" class="img-fluid" alt="color adjusted">
                        </div>
                        <div class="col">
                            <div style="height: 100px">
                                <label for="sliderCropFuzz" class="form-label">Crop: <span id="sliderCropFuzzValue">20</span></label>
                                <input type="range" class="form-range" id="sliderCropFuzz" min="0" max="100" step="1" value="20"
                                       oninput="document.getElementById('sliderCropFuzzValue').innerText = this.value">
                            </div>
                            <img id="editImageCropped" src="" class="img-fluid" alt="cropped">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="imageConfirmButton" type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">

    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    const statusFilecount = document.getElementById("statusFilecount");
    const statusProgress = document.getElementById("statusProgress");
    const statusGuid = document.getElementById("statusGuid");
    const statusMessage = document.getElementById("statusMessage");

    const statusFilecountSpacer = document.getElementById("statusFilecountSpacer");
    const statusProgressSpacer = document.getElementById("statusProgressSpacer");
    const statusGuidSpacer = document.getElementById("statusGuidSpacer");

    const statusIconPause = document.getElementById("statusIconPause");
    const statusIconPlay = document.getElementById("statusIconPlay");
    const statusIconFile = document.getElementById("statusIconFile");

    const host = window.location.host;
    const ws = new WebSocket("ws://" + host + "/api/v1/imports/events");

    ws.onopen = () => {
        statusMessage.innerHTML = "WebSocket connected";
    };

    ws.onclose = () => {
        statusMessage.innerHTML = "WebSocket disconnected";
    };

    ws.onmessage = async (event) => {
        const state = JSON.parse(event.data);
        if (state.importing) {
            statusIconPause.classList.add("d-none");
            statusIconPlay.classList.remove("d-none");
        } else {
            statusIconPause.classList.remove("d-none");
            statusIconPlay.classList.add("d-none");
        }
        if (state.currentFile != null && state.fileCount != null) {
            statusIconFile.classList.remove("d-none");
            statusFilecount.innerHTML = state.currentFile + " / " + state.fileCount;
            statusFilecountSpacer.classList.remove("d-none");
        } else {
            statusIconFile.classList.add("d-none");
            statusFilecount.innerHTML = "";
            statusFilecountSpacer.classList.add("d-none");
        }
        if (state.progress != null) {
            statusProgress.classList.remove("d-none");
            statusProgressSpacer.classList.remove("d-none");
            const percent = (state.progress * 100).toFixed(2) + "%";
            statusProgress.firstElementChild.style.width = percent;
            statusProgress.firstElementChild.innerHTML = percent;
        } else {
            statusProgress.classList.add("d-none");
            statusProgressSpacer.classList.add("d-none");
            statusProgress.firstElementChild.style.width = "0%";
            statusProgress.firstElementChild.innerHTML = "0%";
        }
        if (state.guid) {
            const hashIcon = "<i class='bi bi-hash'></i>";
            statusGuid.innerHTML = hashIcon + state.guid.substring(0, 4) + "..." + state.guid.substring(state.guid.length - 4);
            statusGuid.setAttribute("data-bs-original-title", state.guid);
            statusGuidSpacer.classList.remove("d-none");
        } else {
            statusGuid.innerHTML = "";
            statusGuidSpacer.classList.add("d-none");
        }
        if (state.message) {
            statusMessage.innerHTML = state.message;
        } else {
            statusMessage.innerHTML = "";
        }
        if (state.completedFile) {
            await fetch("/api/v1/imports/" + state.guid).then(async result => {
                if (result.ok) {
                    const imp = await result.json();
                    addImportToSidebar(imp);
                }
            }).catch((error) => console.log("Something went wrong. " + error));
        }
    };


    const inputFile = document.getElementById("formFileMultiple");
    const modalDiv = document.getElementById("uploadModal");
    const fileList = document.getElementById("fileList");

    modalDiv.addEventListener("shown.bs.modal", () => {
        inputFile.value = "";
    });

    inputFile.addEventListener("change", () => {
        fileList.innerHTML = "";
        for (const file of inputFile.files) {
            const li = document.createElement("li");
            li.innerHTML = file.name;
            li.id = file.name;
            li.classList.add("list-group-item");
            fileList.appendChild(li);
        }
    });


    const uploadButton = document.getElementById("uploadButton");
    const uploadModal = new bootstrap.Modal("#uploadModal");

    uploadButton.addEventListener("click", async () => {
        for (const file of inputFile.files) {
            const formData = new FormData();
            formData.append("file", file);
            await fetch("/api/v1/upload", {
                method: "post",
                body: formData,
            }).then(result => {
                if (result.ok) {
                    const li = document.getElementById(file.name);
                    li.classList.add("list-group-item-success");
                }
            }).catch((error) => console.log("Something went wrong. " + error));
        }
        uploadModal.hide();
    });


    window.addEventListener("load", () => {
        Split(['#importDocImageArea', '#importDocDataArea'], {});
        fillSidebar();
    });


    const sidebar = document.getElementById("sidebar");

    async function fillSidebar() {
        sidebar.innerHTML = "";
        await fetch("/api/v1/imports").then(async result => {
            if (result.ok) {
                const imports = await result.json();
                imports.forEach(imp => addImportToSidebar(imp));
            }
        });
    }

    function addImportToSidebar(imp) {
        const date = (!imp.date) ? "" : imp.date[2] + "." + imp.date[1] + "." + imp.date[0];
        const a = document.createElement("a");
        a.href = "#";
        a.className = "list-group-item list-group-item-action py-3 lh-sm";
        a.innerHTML = `
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">${date}</strong>
                <span class="text-body-secondary"><i class="bi bi-file-earmark-text"></i> ${imp.pages}</span>
            </div>
            <div class="d-flex w-100">
                <img src="/api/v1/imports/${imp.guid}/thumb/1/512x512" class="img-fluid" alt="Thumbnail">
            </div>
        `;
        a.addEventListener("click", () => {
            docSelected(imp);
        });

        sidebar.appendChild(a);
    }

    const importDocArea = document.getElementById("importDocArea");
    const importNoDocSelected = document.getElementById("importNoDocSelected");
    const pageImage = document.getElementById("pageImage");
    const importGuid = document.getElementById("importGuid");
    const languageSelect = document.getElementById("languageSelect");
    const importText = document.getElementById("importText");

    const imageConfirmButton = document.getElementById("imageConfirmButton");
    const imageModal = new bootstrap.Modal("#imageModal");

    const sliderDeskew = document.getElementById("sliderDeskew");
    const sliderDeskewValue = document.getElementById("sliderDeskewValue");
    const sliderColorFuzz = document.getElementById("sliderColorFuzz");
    const sliderColorFuzzValue = document.getElementById("sliderColorFuzzValue");
    const sliderCropFuzz = document.getElementById("sliderCropFuzz");
    const sliderCropFuzzValue = document.getElementById("sliderCropFuzzValue");

    const editImageOriginal = document.getElementById("editImageOriginal");
    const editImageDeskewed = document.getElementById("editImageDeskewed");
    const editImageColorAdjusted = document.getElementById("editImageColorAdjusted");
    const editImageCropped = document.getElementById("editImageCropped");

    function docSelected(imp) {
        importNoDocSelected.classList.add("d-none");
        importDocArea.classList.remove("d-none");
        pageImage.src = "/api/v1/imports/" + imp.guid + "/img/1";
        importGuid.innerHTML = imp.guid;
        let dateElem = $("#importDate");
        dateElem.datepicker({
            format: "dd.mm.yyyy",
        });
        if (imp.date) {
            dateElem.datepicker("update", new Date(imp.date[0], imp.date[1] - 1, imp.date[2]));
        }

        languageSelect.value = imp.ocrLanguage;

        importText.value = imp.text;

        sliderDeskew.value = imp.deskew;
        sliderDeskewValue.innerText = imp.deskew;
        sliderColorFuzz.value = imp.colorFuzz;
        sliderColorFuzzValue.innerText = imp.colorFuzz;
        sliderCropFuzz.value = imp.cropFuzz;
        sliderCropFuzzValue.innerText = imp.cropFuzz;

        editImageOriginal.src = "/api/v1/imports/" + imp.guid + "/img/1/original";
        editImageDeskewed.src = "/api/v1/imports/" + imp.guid + "/img/1/deskewed";
        editImageColorAdjusted.src = "/api/v1/imports/" + imp.guid + "/img/1/color";
        editImageCropped.src = "/api/v1/imports/" + imp.guid + "/img/1";
    }

    imageConfirmButton.addEventListener("click", async () => {
        const guid = importGuid.innerHTML;
        if (guid) {
            imageConfirmButton.disabled = true;
            const query = "?deskew=" + sliderDeskew.value + "&colorFuzz=" + sliderColorFuzz.value + "&cropFuzz=" + sliderCropFuzz.value;
            await fetch("/api/v1/imports/" + guid + "/deskew" + query, {method: "post"}).then(async result => {
                if (result.ok) {
                    await reloadImagesForGuid(guid);
                    imageConfirmButton.disabled = false;
                    imageModal.hide();
                }
            });
        }
    });

    async function reloadImagesForGuid(guid) {
        await reloadImg("/api/v1/imports/" + guid + "/img/1");
        await reloadImg("/api/v1/imports/" + guid + "/thumb/1/512x512");
    }

    async function reloadImg(url) {
        await fetch(url, {cache: 'no-store', mode: 'no-cors'})
        document.body.querySelectorAll(`img[src='${url}']`)
            .forEach(img => {
                console.log(img.src);
                return img.src = url;
            })
    }

</script>
</body>
</html>