<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space | Imports</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="/scripts/theme.js"></script>
</head>
<body class="d-flex flex-column h-100">
<!--/*@thymesVar id="user" type="de.axl.db.ExposedUser"*/-->
<div th:replace="~{ navbar :: navbar (imports, ${user})}"></div>
<main class="container-fluid px-0 flex-shrink-0">
    <div class="container-fluid py-1 bg-body-tertiary">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">Upload</button>
    </div>
    <!-- Upload Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="uploadModalLabel">Upload Files</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="uploadForm" enctype="multipart/form-data">
                        <label for="formFileMultiple" class="form-label">Select files to upload</label>
                        <input class="form-control form-control-lg" type="file" id="formFileMultiple" multiple accept="image/png, image/jpeg, application/pdf"/>
                    </form>
                    <ul class="list-group list-group-flush" id="fileList"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="uploadButton" type="button" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container-fluid">
        <span class="text-body-secondary">Import-Status:</span>
        <span id="importStatus" class="text-body-secondary"></span>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!--suppress JSObjectNullOrUndefined -->
<script th:inline="javascript">

    const inputFile = document.getElementById("formFileMultiple");
    const uploadButton = document.getElementById("uploadButton");
    const modalDiv = document.getElementById("uploadModal");
    const fileList = document.getElementById("fileList");
    const modal = new bootstrap.Modal("#uploadModal");
    const importStatus = document.getElementById("importStatus");

    const host = window.location.host;
    const ws = new WebSocket("ws://" + host + "/api/v1/imports/events");

    ws.onmessage = (event) => {
        importStatus.innerHTML = event.data;
    };

    modalDiv.addEventListener("shown.bs.modal", () => {
        inputFile.value = "";
    });

    inputFile.addEventListener("change", () => {
        fileList.innerHTML = "";
        for (const file of inputFile.files) {
            const li = document.createElement("li");
            li.innerHTML = file.name;
            li.id = file.name;
            li.classList.add("list-group-item");
            fileList.appendChild(li);
        }
    });

    uploadButton.addEventListener("click", async () => {
        for (const file of inputFile.files) {
            const formData = new FormData();
            formData.append("file", file);
            await fetch("/api/v1/upload", {
                method: "post",
                body: formData,
            }).then(result => {
                if (result.ok) {
                    const li = document.getElementById(file.name);
                    li.classList.add("list-group-item-success");
                }
            }).catch((error) => console.log("Something went wrong. " + error));
        }
        modal.hide();
    });

</script>
</body>
</html>