<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<nav th:fragment="navbar (page, user)" class="navbar navbar-expand-md fixed-top bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Space</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${page == 'home'}? 'active'" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${page == 'imports'}? 'active'" href="/imports">Imports</a>
                </li>
            </ul>
            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle rounded-circle"></i>
                    <span th:text="${user.name}"></span>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" data-popper-placement="bottom-end" id="navbarDropdown">
                    <li><h6 class="dropdown-header">Settings</h6></li>
                    <li><a class="dropdown-item" href="/settings/profile"><i class="bi bi-person-fill"></i>&nbsp;Profile</a></li>
                    <li><h6 class="dropdown-header">Theme</h6></li>
                    <li>
                        <button type="button" class="dropdown-item d-flex" data-bs-theme-value="light">
                            <i class="bi bi-sun-fill me-2 opacity-50"></i>Light
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex" data-bs-theme-value="dark">
                            <i class="bi bi-moon-stars-fill me-2 opacity-50"></i>Dark
                        </button>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</body>
</html>