<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="/scripts/theme.js"></script>
</head>
<body>
<!--/*@thymesVar id="user" type="de.axl.db.ExposedUser"*/-->
<div th:replace="~{ navbar :: navbar (profile, ${user})}"></div>
<main class="container">
    <section class="mt-5">
        <div class="card mx-auto" style="max-width: 600px;">
            <div class="card-body">
                <h3 class="text-center">User</h3>
                <form id="userForm">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" th:value="${user.username}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Display Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter a new display name" th:value="${user.name}">
                    </div>
                    <div class="mb-1">
                        <span><i>Created:</i></span>
                        <span th:text="${user.createdAt}"></span>
                    </div>
                    <div class="mb-3" th:if="${user.updatedAt != null}">
                        <span><i>Updated:</i></span>
                        <span th:text="${user.updatedAt}"></span>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
                <div id="userFormAlert"></div>
            </div>
        </div>
        <div class="mb-4"></div>
        <div class="card mx-auto" style="max-width: 600px;">
            <div class="card-body">
                <h3 class="text-center">Security</h3>
                <form id="passwordForm">
                    <div class="mb-3">
                        <label for="passwordOld" class="form-label">Old Password</label>
                        <input type="password" class="form-control" id="passwordOld" placeholder="Enter the old password">
                    </div>
                    <div class="mb-3">
                        <label for="passwordNew" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="passwordNew" placeholder="Enter the new password">
                    </div>
                    <div class="mb-3">
                        <label for="passwordConfirm" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirm the new password">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
                <div id="passwordFormAlert"></div>
            </div>
        </div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!--suppress JSObjectNullOrUndefined -->
<script th:inline="javascript">

    const passwordForm = document.getElementById("passwordForm")
    const userForm = document.getElementById("userForm")

    const userFormAlert = document.getElementById("userFormAlert")
    const passwordFormAlert = document.getElementById("passwordFormAlert")

    const alert = (message, type, parentElem) => {
        const wrapper = document.createElement('div')
        wrapper.innerHTML = [
            `<div class="alert alert-${type} alert-dismissible" role="alert">`,
            `   <div>${message}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
        ].join('')

        parentElem.innerHTML = ""
        parentElem.append(wrapper)
    }

    userForm.onsubmit = function () {
        let user = /*[[${user}]]*/ null;
        let xhr = new XMLHttpRequest();
        user.name = document.getElementById("name").value;
        xhr.open("PUT", "/api/v1/users")
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify(user));

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    window.location.reload();
                } else {
                    alert("Error: " + xhr.status + " | " + xhr.responseText, "danger", userFormAlert);
                }
            }
        }
        return false;
    }

    passwordForm.onsubmit = function () {
        let passwordOld = document.getElementById("passwordOld").value;
        let passwordNew = document.getElementById("passwordNew").value;
        let passwordConf = document.getElementById("passwordConfirm").value;
        if (passwordNew !== passwordConf) {
            alert("Passwords do not match", "danger", passwordFormAlert);
            return false;
        }
        let body = {
            old: passwordOld,
            new: passwordNew
        }
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/v1/users/password");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify(body));

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    alert("Password changed successfully", "success", passwordFormAlert);
                    passwordForm.reset();
                } else {
                    alert("Error: " + xhr.status + " | " + xhr.responseText, "danger", passwordFormAlert);
                }
            }
        }
        return false;
    }

</script>
</body>
</html>